.ygRecord {
    width: 1210px;
    background: #f6f6f6;
    margin: 10px auto;
}
.ygRecord h3 {
    width: 1200px;
    height: 37px;
    overflow: hidden;
    background: #f6f6f6 url(http://skin.1yyg.com/DataServer/Images/ygRecord.png) no-repeat 20px -68px;
}
.ygRecord h3 span {
    width: 400px;
    padding: 0 0 0 50px;
    display: block;
    float: left;
    line-height: 38px;
    _line-height: 40px;
    line-height: 41px\0;
    font-size: 14px;
    color: #f60;
    font-weight: bold;
}
.ygRecord h3 p {
    float: right;
    line-height: 37px;
    padding: 0 20px 0 0;
    color: #4a91d4;
}
.ygRecord h3 p strong {
    color: #f60;
}
.ygRecord h3 a {
    font-size: 12px;
    font-weight: normal;
    color: #4a91d4;
    font-family: "宋体";
}
.ygRecord ul.Record_title {
    width: 1208px;
    height: 33px;
    background: #f6f6f6 url(http://skin.1yyg.com/DataServer/Images/ygRecord.png) 0 -30px;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #dadada;
}
.ygRecord ul.Record_title li {
    line-height: 33px;
    color: #c2c2c2;
    float: left;
    padding: 0 0 0 20px;
}
.ygRecord ul.Record_title li.time, .ygRecord ul.Record_content li.time, .ygRecord ul.Record_contents li.time {
    width: 300px;
}
.ygRecord ul.Record_title li.nem, .ygRecord ul.Record_content li.nem, .ygRecord ul.Record_contents li.nem, .ygRecord div.RecordOnehundred ul li.nem {
    width: 200px;
}
.ygRecord ul.Record_title li.name, .ygRecord ul.Record_content li.name, .ygRecord ul.Record_contents li.name, .ygRecord div.RecordOnehundred ul li.name {
    width: 470px;
}
.ygRecord ul.Record_title li.much, .ygRecord ul.Record_content li.much, .ygRecord ul.Record_contents li.much {
    width: 158px;
}
.ygRecord ul.Record_content, .ygRecord ul.Record_contents, .ygRecord .Recordnone, .ygRecord .Recordloading, .ygRecord .RecordError {
    width: 1208px;
    height: 35px;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #f1f1f1;
}
.ygRecord ul.Record_contents {
    background: #fbfbfb;
}
.ygRecord div.endpage {
    width: 1190px;
    height: 37px;
    line-height: 37px;
    color: #4a91d4;
    text-align: right;
    background: #f6f6f6;
    border-top: 1px solid #dadada;
    padding: 0 20px 0 0;
}
.ygRecord div.endpage strong {
    color: #f60;
}
.ygRecord div.endpage a {
    font-family: "宋体";
    color: #4a91d4;
}
.ygRecord ul.Record_content li, .ygRecord ul.Record_contents li, .ygRecord div.RecordOnehundred ul li {
    color: #666;
    height: 17px;
    line-height: 17px;
    float: left;
    display: block;
    overflow: hidden;
    padding: 9px 0 9px 20px;
}
.ygRecord ul.Record_content li.name a, .ygRecord ul.Record_contents li.name a, .ygRecord div.RecordOnehundred ul li.name a {
    display: block;
    height: 17px;
    line-height: 17px;
    color: #4a91d4;
    overflow: hidden;
}
/*时间样式*/
.timeDiv{
	overflow: hidden;
    padding: 10px 0px 10px 0px;
}
.b_choose_cal{
    float:right
}
.b_choose_cal dd {
    float: left;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #333;
}
.b_choose_cal dd input {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    height: 26px;
    padding: 0px;
    width: 138px;
}
.b_choose_cal .b_choose_search {
    margin-left: 8px;
    _margin-left: 4px;
    width: 50px;
    height: 22px;
    text-align: center;
    background: #dd2726;
    line-height: 22px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}