.w_title b {
    margin-left: 5px;
    color: #999;
    font-size: 14px;
    font-weight: 100;
}

.w_con {
    width: 1222px;
    margin:0px auto 59px;
    padding-bottom: 1px;

}

.w_title {
    font-size: 18px;
    color: #333;
    font-weight: 100;
    line-height: 57px;
    overflow: hidden;
}

.w_share {
    overflow: hidden;
    /* border: 1px solid #ddd; */
}

.w_share_one {
    /* border-bottom: 1px solid #ddd; */
    /* overflow: hidden; */
    padding-top: 1px;
    padding-left: 1px;
}

.w_share_one .w_oneself_share {
    margin-left: -1px;
    margin-top: -1px;
    float: left;
    padding: 12px 13px;
    width: 275px;
    border: 1px solid #ddd;
    height: 522px;
}

.w_oneself_share a {
    display: block;
    width: 100%;
    color: #333;
    font-size: 14px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.w_oneself_share a img {
    width: 275px;
    height: 346px;
}

.w_oneself_share p {
    width: 100%;
    font-size: 12px;
    color: #999;
    line-height: 18px;
    margin-bottom: 15px;
}

.w_single {
    width: 100%;
    background: url(../img/front/goods/single_03.png) top left no-repeat;
    overflow: hidden;
    padding-top: 28px;
    padding-left: 13px;
    border-top: 1px solid #F3F3F3;
}

.w_single .w_em {
    float: left;
    display: block;
    height: 30px;
    background: none;
    width: 150px;
}

.w_single a {
    float: right;
    display: block;
    width: 40px;
    margin-top: 17px;
    font-size: 13px;
    color: #959595;
    line-height: 30px;
    padding-left: 20px;
    background: url(../img/front/goods/single_10.png) no-repeat left center;
}

.w_single .comment-border{
    width: 60px;
    height: 25px;
    display: inline-block;
    text-align: center;
}
.comment-border img{
    width: 20px;
    height: 21px;
}
.ihead{
    width: 35px;
    height:35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    margin-right: 5px;
    vertical-align: top;
}
.ispan{
    color: blue;
    width: 65px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.comment-border p{
    display: inline-block;
    margin-top: 2px;
    width: 43px;
    font-size: 15px;
    font-weight: bold;
    color: black;
}
.comment-border img{
    vertical-align: middle;
    display: inline-block;
    width: 15px;
    height: 15px;
    /* background-size: 15px 15px; */
    margin-top: -4px;
    cursor: pointer;
    margin-left: -3px;

}
/*.comment-border-white{
    background: url(../../img/wujiaoxin_white.jpg) no-repeat left center;
}
.comment-border-red{
    background: url(../../img/wujiaoxin_red.jpg) no-repeat left center;
}*/
.comment-person{
    font-size: 16px;
    color: #ccc;
    display: none;
}
.idiv{
    width: 106px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
}
.comment-div{
    width: 51px;
    display: inline-block;
    margin-left: -3px;
}
.w_single .comment-div .c-width{
    width: 50px;
}

.share_detail_ct{width: 1180px;border: 1px solid #DEDEDE;padding: 40px;margin: 0 auto;margin-bottom: 120px;margin-top: 10px;}
.share_detail_ct h1{font-size:16px;line-height:36px;color: #666666;font-weight: bold;    padding-left: 36px;}
.winner_info{width: 1184px;height: 159px;border-bottom: 1px dashed #DEDEDE;border-top: 1px dashed #DEDEDE;font-size: 14px;position: relative;    padding-top: 7px;margin: 0 auto;}
.winner_info_left{width: 140px;float: left;    padding-top: 47px;}
.winner_info_left img{width:80px;height:80px;border-radius:50% ;}
.winner_info_right{width:1000px;float: left;}
.winner_info_right span{color: #ff0000;}
.winner_info_right p{line-height: 30px;width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.lj_btn input{font-size: 16px;  width: 122px;height: 40px; background: #ff0000; line-height: 40px;color: white; border-radius: 5px; position: absolute;top: 107px;  left: 531px;border: none;}
.share_detail{font-size: 16px;line-height: 30px;color: #666666;padding: 46px 0;}
.share_detail p{text-indent: 30px;}
.share_imgs {width: 1107px;margin: 0 auto;}
.share_imgs img{width: 500px;height: 500px;margin: 25px;}
.winner_info_right label{font-size: 14px;}
.share-item{width: 303px;height: 504px;    border: 1px solid #DEDEDE; padding-top: 10px;float: left;}
.share-item .inner-item01 img{width: 278px;height: 342px;}
.share-item .inner-item01 {text-align: center;}
.share-item .inner-item02{width: 278px;margin: 0 auto;}
.share-item .inner-item02 img{width: 50px;height: 50px;border-radius:50%;}
.share-item .user-nickname{font-size: 14px;line-height: 64px;color: #2E93E1;margin-left: 10px;vertical-align: top;}
.share-item .inner-item02 .timestr{float: right;color: #999999;font-size: 12px;line-height: 64px; margin: 0 auto;}
.share-item .inner-item03{width: 253px;height: 55px;background: url(../img/share_ioc01.png) no-repeat;font-size: 14px;line-height: 20px;color: #999999;padding: 20px 25px;}

.share-item01{width: 303px;height: 246px;    border: 1px solid #DEDEDE; padding-top: 10px;float: left;}
.share-item01 .inner-item01 img{width: 278px;height: 178px;}
.share-item01 .inner-item01 {text-align: center;}
.share-item01 .inner-item02{width: 278px;margin: 0 auto;}
.share-item01 .inner-item02 img{width: 50px;height: 50px;border-radius:50%;    margin-top: 3px;}
.share-item01 .user-nickname{font-size: 14px;color: #2E93E1;}
.share-item01 .inner-item02 .timestr{float: right;color: #999999;font-size: 12px;    margin-top: 3px;}
.share-item01 .inner-item02 div{    width: 217px; float: right;padding-left: 10px;}
.share-ct-item{width: 1222px;}
