<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=320,minimum-scale=1,maximum-scale=5,user-scalable=no">
	<meta meta name="format-detection" content="telephone=no,email=no,adress=no" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta http-equiv="Cache-Control" content="max-age=30000000" />
	<link rel="stylesheet" href="css/rotaryhtml.css?cache_control">
    <title>一块购 幸运大转盘 免费抽100%中奖</title>
</head>

<body>
<div class="yg-wrap dayfree" id="ygwrap">
	<!--head start-->
	<div class="freeday-head">
		<!--大转盘 start-->
		<div class="turntable">
			<div class="zp-bg"></div>
			<div class="turntable-pointer"></div>
		</div>
		<!--大转盘 end-->
	</div>
	<!--head end-->

	<!--main start-->
	<div class="fday-main">
		<!--名单 start-->
		<div class="f-box">
			<h2 class="f-boxh2">幸运用户中奖名单</h2>
			<div class="f-boxmain">
				<div class="fbox-tit fbox-h2-tit clearfix">
					<span class="fbox-t fbox-t-a">获奖昵称</span>
					<span class="fbox-t fbox-t-b">获得奖品</span>
					<span class="fbox-t fbox-t-c">获奖时间</span>
				</div>
				<!--滚动 start-->
				<div class="fbox-list-wrap">
					<div class="fbox-list-ul" id="fbox-ul1">
						<div class="fbox-list fbox-list1">
							<div class="l-box clearfix">
								<span class="lbox-t lbox-t-a">188****7710</span>
								<span class="lbox-t lbox-t-b">暴风魔镜VR</span>
								<span class="lbox-t lbox-t-c"><i class="data-t"></i> 08:13:55</span>
							</div>
						</div>
						<div class="fbox-list fbox-list2">
							<div class="l-box clearfix">
								<span class="lbox-t lbox-t-a">139****8233</span>
								<span class="lbox-t lbox-t-b">小米（MI）平衡车</span>
								<span class="lbox-t lbox-t-c"><i class="data-t"></i> 09:52:18</span>
							</div>
						</div>
						<div class="fbox-list fbox-list3">
							<div class="l-box clearfix">
								<span class="lbox-t lbox-t-a">一次就好</span>
								<span class="lbox-t lbox-t-b">88元红包</span>
								<span class="lbox-t lbox-t-c"><i class="data-t"></i> 09:58:04</span>
							</div>
						</div>
						<div class="fbox-list fbox-list1">
							<div class="l-box clearfix">
								<span class="lbox-t lbox-t-a">159****6097</span>
								<span class="lbox-t lbox-t-b">iphone6</span>
								<span class="lbox-t lbox-t-c"><i class="data-t"></i> 11:15:35</span>
							</div>
						</div>
						<div class="fbox-list fbox-list2">
							<div class="l-box clearfix">
								<span class="lbox-t lbox-t-a">陈夫是啊乌，谢谢</span>
								<span class="lbox-t lbox-t-b">ipad mini2</span>
								<span class="lbox-t lbox-t-c"><i class="data-t"></i> 13:10:05</span>
							</div>
						</div>
						<div class="fbox-list fbox-list3">
							<div class="l-box clearfix">
								<span class="lbox-t lbox-t-a">138****9336</span>
								<span class="lbox-t lbox-t-b">5元红包</span>
								<span class="lbox-t lbox-t-c"><i class="data-t"></i> 14:12:55</span>
							</div>
						</div>
						<div class="fbox-list fbox-list1">
							<div class="l-box clearfix">
								<span class="lbox-t lbox-t-a">134****9755</span>
								<span class="lbox-t lbox-t-b">小米（MI）平衡车</span>
								<span class="lbox-t lbox-t-c"><i class="data-t"></i> 14:13:06</span>
							</div>
						</div>
						<div class="fbox-list fbox-list2">
							<div class="l-box clearfix">
								<span class="lbox-t lbox-t-a">德玛西亚</span>
								<span class="lbox-t lbox-t-b">88元红包</span>
								<span class="lbox-t lbox-t-c"><i class="data-t"></i> 14:35:12</span>
							</div>
						</div>
						<div class="fbox-list fbox-list3">
							<div class="l-box clearfix">
								<span class="lbox-t lbox-t-a">137****7759</span>
								<span class="lbox-t lbox-t-b">暴风魔镜VR</span>
								<span class="lbox-t lbox-t-c"><i class="data-t"></i> 15:02:45</span>
							</div>
						</div>
						<div class="fbox-list fbox-list1">
							<div class="l-box clearfix">
								<span class="lbox-t lbox-t-a">西北狼</span>
								<span class="lbox-t lbox-t-b">88元红包</span>
								<span class="lbox-t lbox-t-c"><i class="data-t"></i> 16:28:55</span>
							</div>
						</div>
						<div class="fbox-list fbox-list2">
							<div class="l-box clearfix">
								<span class="lbox-t lbox-t-a">159****9401</span>
								<span class="lbox-t lbox-t-b">ipad mini2</span>
								<span class="lbox-t lbox-t-c"><i class="data-t"></i> 16:15:47</span>
							</div>
						</div>
						<div class="fbox-list fbox-list3">
							<div class="l-box clearfix">
								<span class="lbox-t lbox-t-a">158****8632</span>
								<span class="lbox-t lbox-t-b">1元红包</span>
								<span class="lbox-t lbox-t-c"><i class="data-t"></i> 16:22:39</span>
							</div>
						</div>
						<div class="fbox-list fbox-list1">
							<div class="l-box clearfix">
								<span class="lbox-t lbox-t-a">就有本事中</span>
								<span class="lbox-t lbox-t-b">iphone6</span>
								<span class="lbox-t lbox-t-c"><i class="data-t"></i> 17:40:21</span>
							</div>
						</div>
						<div class="fbox-list fbox-list2">
							<div class="l-box clearfix">
								<span class="lbox-t lbox-t-a">137****6667</span>
								<span class="lbox-t lbox-t-b">小米平衡车</span>
								<span class="lbox-t lbox-t-c"><i class="data-t"></i> 17:50:02</span>
							</div>
						</div>
						<div class="fbox-list fbox-list3">
							<div class="l-box clearfix">
								<span class="lbox-t lbox-t-a">开心就好，谢谢！</span>
								<span class="lbox-t lbox-t-b">5元红包</span>
								<span class="lbox-t lbox-t-c"><i class="data-t"></i> 17:58:09</span>
							</div>
						</div>
						<div class="fbox-list fbox-list1">
							<div class="l-box clearfix">
								<span class="lbox-t lbox-t-a">131****6686</span>
								<span class="lbox-t lbox-t-b">暴风魔镜VR</span>
								<span class="lbox-t lbox-t-c"><i class="data-t"></i> 18:03:31</span>
							</div>
						</div>
						<div class="fbox-list fbox-list2">
							<div class="l-box clearfix">
								<span class="lbox-t lbox-t-a">139****8036</span>
								<span class="lbox-t lbox-t-b">10元红包</span>
								<span class="lbox-t lbox-t-c"><i class="data-t"></i> 19:18:03</span>
							</div>
						</div>
						<div class="fbox-list fbox-list3">
							<div class="l-box clearfix">
								<span class="lbox-t lbox-t-a">135****1630</span>
								<span class="lbox-t lbox-t-b">88元红包</span>
								<span class="lbox-t lbox-t-c"><i class="data-t"></i> 20:12:55</span>
							</div>
						</div>
						<div class="fbox-list fbox-list1">
							<div class="l-box clearfix">
								<span class="lbox-t lbox-t-a">134****9755</span>
								<span class="lbox-t lbox-t-b">ipad mini2</span>
								<span class="lbox-t lbox-t-c"><i class="data-t"></i> 20:39:31</span>
							</div>
						</div>
						<div class="fbox-list fbox-list2">
							<div class="l-box clearfix">
								<span class="lbox-t lbox-t-a">欢喜就好</span>
								<span class="lbox-t lbox-t-b">iphone6</span>
								<span class="lbox-t lbox-t-c"><i class="data-t"></i> 21:22:09</span>
							</div>
						</div>
						<div class="fbox-list fbox-list3">
							<div class="l-box clearfix">
								<span class="lbox-t lbox-t-a">137****6667</span>
								<span class="lbox-t lbox-t-b">88元红包</span>
								<span class="lbox-t lbox-t-c"><i class="data-t"></i> 22:08:33</span>
							</div>
						</div>
					</div>
				</div>
				<!--滚动 end-->
			</div>
		</div>
		<!--名单 end-->
		<!--活动规则 start-->
		<div class="hdgz-box">活动规则：该活动仅限新注册用户参与</div>
		<!--活动规则 end-->
	</div>
	<!--main end-->

	<div class="popbg black-bg"></div>
	<!--app领取 start-->
	<div class="popdiv app-pop">
		<p class="app-ph2">恭喜您获得免费抽取  <span class="js-awardtit" style="font-size: 18px;"></span> 的机会</p>
		<a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.tesu.ykgou" class="app-pbutton">立即下载APP领取</a>
	</div>
	<!--app领取 end-->
	<!--微信二维码 start-->
	<div class="popdiv wchat-pop">
		<h2 class="wchatp-h2">恭喜您获得免费抽取 <span class="js-awardtit" style="font-size: 14px;"></span> 的机会</h2>
		<img src="img/wchatewm.jpg?cache_control" class="wchat-img" />
		<p class="wchat-des">长按二维码关注公众号领取</p>
	</div>
	<!--微信二维码 end-->
</div>
<script src="/H5/js/jquery191.min.js?cache_control" type="text/javascript"></script>
<script type="text/javascript" src="js/rotaryhtml.js?cache_control"></script>
 
</body>
</html>