.a_login_register_box{
   width:434px;
   height:326px;
    position:fixed;
    background-color:#fff;
    border: 5px solid #999;
    border-radius: 4px;
    z-index: 4;
}
.a_world_title{
   font-size: 14px;
    margin: 0 auto;
    line-height: 40px;
    border-bottom: 1px solid #EBEBEB;
    padding: 0 10px;
}
.a_world_close {
   display: block;
   position: absolute;
   width: 34px;
   height: 38px;
   background: url(../../../img/close.png) no-repeat;
   right: -16px;
   top: -16px;
   cursor: pointer;
}
.a_world_bg{
   background:#000;
   filter:alpha(opacity=60);   
   -moz-opacity:0.6;   
   -khtml-opacity: 0.6;   
   opacity: 0.6;
   width:100%;
   position: fixed;
   top:0px;
   left:0px;
   height:1000px;
   z-index: 3;
   display:none;
}
.a_login_register_box{
	 display: none; 
}
.a_login_fixed_box{
   width: 532px;
}
.a_login_register_form{
   margin:  0 auto;
   width: 310px;
   padding-top: 30px;
}


.a_login_register_box form .user, .a_login_register_box form .pas, .a_login_register_box form .c_pas{
   width: 310px;
   padding-bottom: 20px;
   position: relative;
}
.a_login_register_box form .user span{
   position: absolute;
   display: block;
   width: 25px;
   height: 23px;
   background: url(../../../img/input-icon-all.png) no-repeat 0 -141px;
   margin: 11px 12px;
   padding-right: 5px;
   border-right: 1px solid #dcdcdc;
}
.a_login_register_box form .pas span, .a_login_register_box form .c_pas span {
  position: absolute;
  display: block;
  padding-right: 5px;
  border-right: 1px solid #dcdcdc;
  width: 25px;
  height: 23px;
  background: url(../../../img/input-icon-all.png) no-repeat 0 -424px;
  margin: 11px 12px;
}
.a_login_register_box form .user input, .a_login_register_box form .pas input, .a_login_register_box form .c_pas input {
   width: 258px;
   height: 44px;
   line-height: 44px\9;
   padding-left: 50px;
   font-size: 14px;
   color: #ababab;
   font-family: Microsoft YaHei;
   border: 1px solid #ccc;
   border-radius: 2px;
   -o-border-radius: 2px;
   -webkit-border-radius: 2px;
   -ms-border-radius: 2px;
   -moz-border-radius: 2px;
}
.a_login_error{
   border: none;
   position: absolute;
   top: 2px;
   left: 50px;
   height: 42px;
   background-color: #fff;
   min-width: 100px;
   font-size: 12px;
   color: #ff4c4c;
   line-height: 43px;
   display: none;
   padding-left: 20px;
   background: #fff url(../../../img/icon/error_icon.png) no-repeat 0 center;
   width: 180px;
}
.a_login_btn_go{
   display: block;
   color: #fff;
   font-size: 16px;
   background: #dd2726;
   text-align: center;
   margin: 0 auto;
   width: 310px;
   height: 44px;
   line-height: 44px;
}
.cz_ps{
   color: #a9a9a9;
   font-size: 14px;
   padding-left: 5px;
   line-height: 40px;
}
.a_register_fixed_box{
   height: 350px;
   width: 530px;
}
